<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>The Tech Blog</title>
    <!-- <link rel="stylesheet" href="/public/jass.css"> -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="#">Dashboard</a>
        <a href="#">Login</a>
      </nav>
      <h1>The Tech Blog</h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
  </body>
</html>