<!-- Dashboard title -->
<h1>Your Dashboard</h1>
<div class="dashboard-container">

<!-- New Post button anchored to the bottom of the page -->
<a href="/create-post" class="new-post-btn">New Post</a>

<!-- Hidden form for creating a new post -->
<form id="new-post-form" style="display: none;">
  <label for="post-title">Title:</label>
  <input type="text" id="post-title" name="title" required />

  <label for="post-content">Content:</label>
  <textarea id="post-content" name="content" required></textarea>

  <button type="submit" class="new-post-btn form-button">Create</button>

</form>

<!-- Existing blog posts -->
<div class="blog-post-container">
  {{#each blogs}}
    <div class="blog-post">
      <div class="post-header">
        <h3 class="post-title">{{this.title}}</h3>
        <span class="post-date">{{format_date this.createdAt}}</span>
      </div>
      <div class="post-content">
        <p>{{this.content}}</p>
      </div>
      <form action="/api/blogs/{{id}}" method="POST" style="display:none;">
        <!-- Hidden delete button -->
        <button type="submit" class="delete-post-btn">Delete</button>
      </form>
    </div>
  {{/each}}
</div>
</div>

<script src="/js/dashboard.js"></script>