<div class="blog-container">
  <h2>Recent Posts</h2>

  <div class="blog-post-container">
    {{#each blogs}}
      <div class="blog-post">
        <div class="post-header">
          <h3 class="post-title">
            <a href="/blog/{{this.id}}">{{this.title}}</a>
          </h3>
          <span class="post-meta">Posted by {{this.user.username}} on {{format_date this.createdAt}}</span>
        </div>
        <!-- No post content here -->
      </div>
    {{/each}}
  </div>
</div>

